@model KSAA.Master.Application.DTOs.Master.CustomerCodeViewModel

<style>
	#divLoader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}
</style>
<!-- Row -->
<div id="divLoader" style="display:none;"> <img src="~/images/ajax-loader.gif" alt="Loader" /></div>
<!-- Row -->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <a href="~/CustomerCode/CustomerCodeList" class="btn btn-primary  mr-10" style="width: 140px; margin-top: 10px; float: right;margin-bottom: 10px;">LIST</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <h6 class="txt-dark capitalize-font">Add Customer Code</h6>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-wrap">
                            <form class="form-horizontal" data-toggle="validator" role="form" method="post" id="frmCustomerCodeAdd" name="frmCustomerCodeAdd">
                                <!--/Row-->
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="control-label col-md-3"></div>
                                                <div class="col-md-9">
                                                    <label>Customer Code</label>
                                                    <input class="form-control" data-required-error="Customer Code is required" id="Customer_Code" required asp-for="Customer_Code">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    <label>Address</label>
                                                    <input class="form-control" data-required-error="Address is required" id="Address" required asp-for="Address">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!-- /Row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="control-label col-md-3"></div>
                                            <div class="col-md-9">
                                                <label>Location</label>
                                                <input class="form-control" data-required-error="Location is required" id="Location" required asp-for="Location">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <label>GSTN No</label>
                                                <input class="form-control" data-required-error="GSTN is required" id="GSTN" required asp-for="GSTN">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!-- /Row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="control-label col-md-3"></div>
                                            <div class="col-md-9">
                                                <label>Name</label>
                                                <input class="form-control" data-required-error="Name is required" id="Name" required asp-for="Name">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    @*<div class="col-md-6">
                                    <div class="form-group">
                                    <div class="control-label col-md-3"></div>
                                    <div class="col-md-9">
                                    <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="ti-user"></i>
                                    </div>
                                    <input class="form-control" data-required-error="IP is required" id="Ip" required asp-for="IP">
                                    </div>
                                    <div class="help-block with-errors"></div>
                                    </div>
                                    </div>
                                    </div>*@
                                    <!--/span-->
                                </div>
                                <!-- /Row -->
                                @*<div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                <div class="control-label col-md-3"></div>
                                <div class="col-md-9">
                                <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input class="form-control" data-required-error="BrowserCase is required" id="BrowserCase" required asp-for="BrowserCase">
                                </div>
                                <div class="help-block with-errors"></div>
                                </div>
                                </div>
                                </div>
                                </div>*@
                                <!-- /Row -->
                                <div class="form-actions mt-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit"
                                                            class="btn btn-primary  mr-10">
                                                        Submit
                                                    </button>
                                                    <a href="~/CustomerCode/CustomerCodeList" class="btn btn-warning" id="btnCancel">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function() {
            $('#frmCustomerCodeAdd').validator().on('submit', function(e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                }
                else {
                    var obj = {
                        Customer_Code: $("#Customer_Code").val(),
                        Address: $("#Address").val(),
                        Location: $("#Location").val(),
                        GSTN: $("#GSTN").val(),
                        Name: $("#Name").val(),
                        Ip: $("#Ip").val(),
                        BrowserCase: $("#BrowserCase").val()
                    };
                    $("#divLoader").show();
                    e.preventDefault();
                    $.ajax({
                        url: '/CustomerCode/CustomerCodeAdd',
                        method: 'POST',
                        data: obj,
                        success: function(data) {
                            $("#divLoader").hide();
                            $.toast({
                                text: data,
                                position: 'top-right',
                                loaderBg: '#f8b32d',
                                icon: 'success',
                                hideAfter: 3500,
                                stack: 6,
                            })
                            setTimeout(function() {
                                window.location.href = "/CustomerCode/CustomerCodeList"
                            }, 1500);
                        },
                        error: function(jqXHR, textStatus, error) {
                            $("#divLoader").hide();
                            $.toast({
                                text: jqXHR.responseJSON.message,
                                position: 'top-right',
                                loaderBg: '#f8b32d',
                                icon: 'error',
                                hideAfter: 3500,
                                stack: 6
                            });
                        }
                    });
                }
            });
        });
    </script>
    }